@mixin padding() {
  .box {
    width: 100%;
    position: relative;
    padding: 70px 0;
    .child {
      margin: 0 auto;
      width: 90%;
      //height: 100px;
      line-height: 100px;
      background-color: #45bfe3;
    }
  }
}