@mixin reference() {
  .box {
    width: 100%;
    height: 100%;
    position: relative;
    .base {
      height: 50%;
      width: 100%;
    }
    .child {
      width: 90%;
      background-color: #45bfe3;
      line-height: 100px;
      margin: -50px auto 0 auto;
    }
  }
}