@mixin three-col-absolute-layout {
  font-size: 1.2rem;
  font-weight: bold;
  .box {
    overflow: hidden;
    height: 100px;
    margin: 0;
    position: relative;
    div {
      height: 100%;
      &.left {
        position: absolute;
        left: 0;
        top:0;
        width: 120px;
        background-color: #cc6699;
      }
      &.main {
        margin: 0 120px;
        background-color: #74bb49;
      }
      &.right {
        position: absolute;
        right: 0;
        top: 0;
        width: 120px;
        background-color: #45bfe3;
      }
    }
  }
}